*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: Arial;
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    height: 140px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
}

header h1{
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all{
    background-color: dimgray;
    width: 75%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.menu_bar{
    display: none;
}

#nav_mobil ul li{
    display: none;
}

#nav_pc{
    width: 75%;
    height: 35px;
    margin: 0 auto;    
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

#nav_pc a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 4px 75.2px;
}

#nav_pc a:hover{
    color: white;
    background-color: black;
}

.slideshow{
    margin-top: 165px;
}

.imgslidershow img{
    width: 100%;
}

#acts{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

#acts article{
    width: 300px;
    height: 200px;
}

#acts article h2{
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

#acts article img{
    width: 100%;
    height: 150px;
}

#info{
    width: 75%;
    margin: 20px auto;
}

#info article{
    background-color: antiquewhite;
    border-radius: 7px;
    margin-bottom: 10px;
}

#info p{
    padding: 20px;
}

#contacte{
    width: 50%;
    height: 750px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacte h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#contacte table tr th{
    padding: 10px 15px;
}

#contacte table tr td{
    padding: 10px 15px;
    text-align: center;
}

#mapa{
    margin: 15px auto;
}

#mapa h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

#mapa iframe{
    border-radius: 7px;
    height: 300px;
    width: 400px;
    margin: auto;
    display: block;
}

#modificar{
    width: 40%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modificar h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#modificar table tr th{
    padding: 0px 10px;
}

#modificar table tr td{
/*    padding: 10px 15px;*/
    text-align: center;
}

#modificar table tr td img{
    height: 40px;
    width: 40px;
}

#botom{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#botom input{
    background-color: #e38282;
    color: black;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 7px;
    margin-bottom: 15px;
}

#sformulari{
    height: 400px;
    width: 350px;
    padding: 15px;
    margin-top: 50px;    
    border-radius: 7px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#formulari{
    background-color: black;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    padding: 15px;
    margin-top: 30px;
    font-size: 25px;
}

#sformulari h2{
    font-size: 40px;
    margin-top: 15px;
}

#formulari form{
    display: flex;
    flex-direction: column;
}

#formulari form label{
    margin-bottom: 5px;
}

#formulari form input{
    margin-bottom: 20px;
}

#botof{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#botof input{
    background-color: #e38282;
    color: black;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 7px;
    margin-left: 5px;
}

#botof input:hover{
    background-color: #ff0000;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

footer p{
    margin: 7px auto;
    font-size: 20px;
    font-weight: bold;
}

footer img{
    height: 30px;
    margin: 2px 2px;
}


/***************/
/*MEDIA QUERIES*/
/***************/

/*MÒBIL*/

@media screen and (max-width: 600px){
    #all{
        width: 100%;
    }
    
    header{
        display: none;
    }
    
    body{
        margin-top: 0px;
    }
    
    #nav_pc{
        display: none;
    } 

	.menu_bar {
		display:block;
		width:100%;
        height: 50px;
		position: fixed;
		top:0;
		background-color: black;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 10px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	#nav_mobil {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}   
    
    #nav_mobil ul{
        margin-top: 45px;
    }
    
	#nav_mobil ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
        background-color: black;
        padding-left: 10px;
	}
 
	#nav_mobil ul li a {
		display: block;
        text-decoration: none;
        color: white;
	}
 
	#nav_mobil ul li .caret {
		float: right;
	}
    
    #acts{
        margin-top: 360px;
    }
    
    #contacte {
        width: 75%;
        height: 750px;
    }
    
    #mapa iframe {
        height: 250px;
        width: 300px;
    }
}